<footer class="text-right my-6 px-8 text-sm font-medium text-gray-700">
  <p class="inline-block leading-tight">By <a href="https://www.plantbasedrecipe.com/">plantbasedrecipe.com</a>, but based on the generous work of others.</p>
</footer>
