<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="{{ pkg.meta.twitter_site }}" />
<meta name="twitter:creator" content="{{ pkg.meta.twitter_creator }}" />
<meta property="og:url" content="{{ pkg.homepage | url }}" />
<meta property="og:title" content="{{ title or pkg.meta.title }}" />
<meta property="og:description" content="{{ description or pkg.meta.description }}" />
