<div class="p-6 bg-teal-500 text-white ">
  <h1 class="text-3xl pb-2 border-b-2 border-white leading-none font-serif">Restaurants</h1>
  <p class="text-xl mt-2 leading-tight">
    {%- include "components/restaurant-list.njk" -%}
  </p>
</div>
