---
title: About YVR Vegan
layout: base
---

<section>
  <h1 class="heading">What is VYR Vegan</h1>
  <p>Inspired by the excellent <a href="https://www.amazon.ca/Plant-based-Foodie-Vancouver-Chris-Dagenais/dp/0994919549/ref=sr_1_1" rel="noopener noreferrer nofollow" target="_blank">The Plant-based Foodie &mdash; Vancouver</a> cookbook, this site is a list of vegan friendly restaurants around Greater Vancouver.</p>
</section>
